@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-color: #f3eae5;
    --text-dark: #2c2724;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    /* isolation: isolate; */
    /* display: grid; */
    gap: 2rem;
    overflow: hidden;
}

.container__left {
    padding-inline: 1rem;
    text-align: center;
}

.container__left h1 {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: var(--text-dark);
}

.container__right {
    position: relative;
    /* isolation: isolate; */
    /* display: grid; */
    /* gap: 2rem; */
}

.container__right::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transform-origin: left;
    height: 90%;
    background-color: var(--primary-color);
    border-radius: 1rem;
    z-index: -1;

    animation: show 0.75s 1.25s ease-in-out forwards;
}

@keyframes show {
    0% {
        width: 0;
    }

    100% {
        width: calc(100% - 2rem);
    }
}


.content {
    padding-block: 0 5rem;
    padding-inline: 2rem;
    text-align: center;
}

.content h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-dark);
}

.content p {
    line-height: 1.75rem;
    color: var(--text-dark);
}


@media (width > 768px) {

    .container {
        grid-template-columns: 2fr 3fr;
        align-items: center;
        padding: 2rem 0;
    }

    .container__left {
        text-align: left;
    }
}

@media (width > 1024px) {
    .container__right {
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

    .container__right::before {
        bottom: unset;
        top: 0;
        height: 90%;
    }

    .content {
        padding-block: 5rem;
        text-align: left;
        max-width: 400px;
        margin-inline-start: unset;
    }
}